body {
    background: #FFCBAA url("../images/topleft.svg") no-repeat top left;
    font-family: "Helvetica Neue";
    background-attachment: fixed;
}

img {
	display: block;
}

h1 {
    font-size: 2em;

}

table {
	padding: 10em;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    width: 1024px;

}

tr {
    font-size: 1.2em;
}

tr td {
  padding: 15px 20px;
  background-color: rgba(255, 238, 227, .83);
}

tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}