body {
    background: #FFBA8E url("../images/topleft.svg") no-repeat top left;
    font-family: "Helvetica Neue";
    background-attachment: fixed;
}

.back {
	padding: 4em 4em 0 4em;
	cursor: pointer;
	float: none;
}

h1 {
    font-size: 2em;

}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

table {
	padding: 0 4em;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    width: 1024px;

}

h3 {
	font-size: 1em;
	font-weight: lighter;
}

th {
	font-size: 2em;
}

tr {
    font-size: 1.2em;
}

tr td {
  padding: 15px 20px;
  background-color: rgba(255, 238, 227, .83);
  text-align: center;
}

tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}