body {
  padding-top: 50px;
}

.starter-template {
  padding: 200px 15px;
  text-align: center;
}

.box{
    width: 100%;
    text-align:center;
}

table.scrollable
{
  width: 75%;
  height: 100%;
  overflow-x: scroll;
  display:inline-block;
}

table.leftbar
{
  height:100%;
  width:15%;
  display:inline-block;
  padding-bottom:20px;
}

table.fix-height tr
{
  height:40px;
}

iframe.video-embed
{
  height:200px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
}

div.width-override
{
  max-width:90%;
}
* {
  -webkit-border-radius: 1px !important;
     -moz-border-radius: 1px !important;
          border-radius: 1px !important;
}
#logo {
color: #666;
width:100%;
}
#logo h1 {
    font-size: 60px;
    text-shadow: 1px 2px 3px #999;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}
#logo p{
  padding-bottom: 20px;
}


#form-buscar >.form-group >.input-group > .form-control {
    height: 40px;
}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn{
        height: 40px;
        font-size: 16px;
        font-weight: 300;


}
#form-buscar >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
 margin-right:12px;
}


#form-buscar >.form-group >.input-group > .form-control {
    font-size: 16px;
    font-weight: 300;

}

#form-buscar >.form-group >.input-group > .form-control:focus {
  border-color: #33A444;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 1px rgba(0, 109, 0, 0.8);
}
