certifi
click
flask
gunicorn
itsdangerous=0.24=py_2
jinja2=2.10=py36_0
libgcc-ng=7.2.0=hdf63c60_3
markupsafe=1.0=py36_0
ncurses=5.9=10
openssl=1.0.2o=0
readline=7.0=0
setuptools=39.2.0=py36_0
sqlite=3.20.1=2
tk=8.6.7=0
werkzeug=0.14.1=py_0
wheel=0.31.0=py36_0
xz=5.2.3=0
