<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta name="vewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WherePods</title>
  <link rel="stylesheet" href="static/css/main.css">
</head>


<body>
  <main>
    <form action="/output" method="GET">
      <label for="location">Find AirPods Pro<sup>TM</sup> in stock.</label><br>
      <input type="text" name="location" id="location" placeholder="Address or Zip Code">
    </form>

  </main>
</body>


</html>
