<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="static/css/results.css">
  <title>WherePods</title>
  

</head>

<body>
  <main>
    
    <h1> Stores In Your Area</h1>
    <table class="results">
        
      {% for row in table %}
        
        <tr class="spaceunder">
            {% for item in row[:-1] %}
            <td>
                {{ item }}
            </td>
            {% endfor %}

            <td>
                {{ row[-1] }} mi.
            </td>
        </tr>
        
      {% endfor %}
        
    </table>

  </main>
    
</body>
</html>
